name: Build Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'

    - name: Set up Kotlin
      uses: jetbrains/setup-kotlin@v1

    - name: Build the project
      run: ./gradlew build

    - name: Upload build artifacts
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: build-output
        path: app/build/outputs/
